body {
  background-color: rgb(252, 250, 248);
  font-family: Rubik, Arial;
}

form {
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#overlay {
  width: 80%;
  margin: 3% auto;
  height: 95vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
}

.logo {
  align-content: center;
  height: 300px;
  display: block;
  margin: auto;
}

.days label {
  margin-right: 25px;
}
button {
  color: #3992ff;
  font-weight: 500;
}
